<div class="benchmarks_container">
    <div class="row">
        <div class="col-12">
            <span class="text-1 manuka">Contact</span> <span class="text-highlight-1 ms-2 manuka">us</span>
        </div>
    </div>

    <div class="row">
        <p class="contact_us_sub">Welcome to our company, a trusted provider of manometry medical equipment for over 35 years. Our company is dedicated to delivering high-quality, reliable, and accurate medical equipment to healthcare professionals worldwide.</p>
    </div>

    <div class="link" routerLink="/contact">
        <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt="">
    </div> 
    <hr class="hr">
    <div class="last">
        <div class="row">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <span class="rights">© Ready Stock 2024, All rights reserved.</span>
                <div class="logo-container">
                    <span><img src="../../assets/Images/whatsapp.svg" alt="" class="img-fluid me-4 whatsapp"></span>
                    <span><img src="../../assets/Images/instagram-2016-5.svg" alt="" class="img-fluid me-4 instagram"></span>
                    <span><img src="../../assets/Images/twitter-logo-2.svg" alt="" class="img-fluid x"></span>
                </div>
            </div>
        </div>
    </div>
</div>