*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.benchmarks_container {
    padding: 60px 60px;
    background-color: #0D0F10;

    .text-1 {
        font-size: 60px;
        font-weight: 500;
        color: #fff;
        letter-spacing: 1px;
    }
    
    .text-highlight-1 {
        font-size: 60px;
        font-weight: 500;
        color: #ca4542;
        letter-spacing: 1px;
    }

    .contact_us_sub {
        margin-top: 18px;
        color: #fff;
        font-size: 16px;
        opacity: 0.8;
    }

    .link {
        color: #448DEF;
        font-size: 18px;
        font-weight: 400;
        margin-top: 6px;
        cursor: pointer;
    }

    .arrow {
        height: 14px;
        width: auto;
    }

    .link:hover {
        text-decoration: underline;
    }

}

.hr {
    border-bottom: 1px solid #ffffff;
    margin: 32px 0px;
}

.rights {
    color: #fff;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.whatsapp, .instagram, .x {
    height: 24px;
    width: 24px;
}

@media only screen and (max-width: 720px) {
    .benchmarks_container {
        padding: 60px 32px;
    }
}