*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img {
    height: 42px;
    width: 42px;
}

.brand-name {
    margin-left: 12px;
    font-size: 24px;
    font-weight: 600;
    color: #292929;
}

.nav-cstm {
    padding: 18px 60px;
    z-index: 9999;
    background-color: #fff;
    border-bottom: 0.5px solid #29292940;
}

.nav-links {
    font-size: 14px;
    color: #292929ae;
    font-weight: 500;
}

.icons {
    height: 24px;
    width: auto;
    margin-right: 6px;
}

.clickable:hover {
    cursor: pointer;
}

.active {
    color: #ca4542 !important;
    background-color: transparent;
}

.dropdownBasic1 {
    padding: 16px !important;
    background-color: #050000;
    border-radius: 8px;
    border: 1px solid #ffffff6b;
}

.clickable-sub {
    font-size: 16px;
    color: #ffffffa3;
    margin-bottom: 16px;
    transition: all 0.3s;
}

.clickable-sub:hover {
    background-color: transparent;
    color: #fff;
}

.information-container {
    padding: 24px;
    background-color: #fff;
    border-bottom: 0.5px solid #29292940;
}

.nav-card {
    padding: 24px 0;
    background-color: #fff;
    border: none;
}

.clickable_mobile {
    font-size: 18px;
}

.clickable_mobile1 {
    color: #ca4542;
}

.menu-icon {
    height: 42px;
    width: auto;
}



@media only screen and (max-width: 768px) {
    .web_vanish {
      display: none;
    }

    .show_only_mobile {
        display: none;
    }

    .hide_nav {
        display: none;
    }

  }
  
@media only screen and (min-width: 770px) {
.show_only_mobile {
    display: none;
}

.mobile_nav {
    display: none;
}

.web_vanish_mobile {
    display: none;
}
}

// @media only screen and (max-width: 860px) {
//     .hide_nav {
//         display: none;
//     }
// }

