<div class="container-fluid">
    <div class="what_we_do_container">
        <div class="row">
            <div class="col-12">
                <span class="text-1 manuka">What we</span> <span class="text-highlight-1 ms-2 manuka">deal in</span>
            </div>
        </div>
        <div class="row mt-4 web_vanish">
            <div class="col-12 d-flex flex-row">
                <div class="container1 d-flex flex-row align-items-center" routerLink="/high-resolution-manometry" routerLinkActive="active">
                    <span><img src="../../assets/Images/Home_Machine.png" class="img-fluid circle-img" alt=""></span>
                    <span class="name-wrap">
                        <span class="name_of_machine">High Resolution Manometry</span> 
                            <div class="link">
                                <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt="">
                            </div> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-center" routerLink="/ZepHR" routerLinkActive="active">
                    <span><img src="../../assets/Images/Zephr.png" class="img-fluid circle-img" alt=""></span>
                    <span class="name-wrap">
                        <span class="name_of_machine">ZepHR Impedance</span> 
                            <div class="link">
                                <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt="">
                            </div> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-center" routerLink="/hydrogen-breathe-test" routerLinkActive="active">
                    <span><img src="../../assets/Images/Hmbt.png" class="img-fluid circle-img" alt=""></span>
                    <span class="name-wrap">
                        <span class="name_of_machine">HBT</span> 
                            <div class="link">
                                <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt="">
                            </div> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-center" routerLink="/catheter" routerLinkActive="active">
                    <span><img src="../../assets/Images/radio1.jpg" class="img-fluid circle-img" alt=""></span>
                    <span class="name-wrap">
                        <span class="name_of_machine">Radio Opaque Markers</span> 
                            <div class="link">
                                <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt="">
                            </div> 
                    </span>
                </div>
            </div>
        </div>

        <div class="mobile_only mt-4">
            <div class="row">
                <div class="col-12">
                    <div class="scroll-container-int">
                        <div class="d-flex flex-row align-items-center">
                            <div class="pill" routerLink="/high-resolution-manometry" routerLinkActive="active">
                              <span>High Resolution Manometry</span>
                            </div>
                            <div class="pill" routerLink="/ZepHR" routerLinkActive="active">
                                <span>ZepHR Impedance</span>
                              </div>
                              <div class="pill" routerLink="/hydrogen-breathe-test" routerLinkActive="active">
                                <span>Hydrogen Breath Test</span>
                              </div>
                              <div class="pill" routerLink="/catheter" routerLinkActive="active">
                                <span>Radio Opaque Markers</span>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>