<div class="container-fluid">
    <div class="nav-container">
        <app-navbar></app-navbar>
    </div>

    <div class="content-body">
        <div class="row">
            <div class="row">
                <div class="col-12">
                    <span class="text-1 manuka">What our</span> <span class="text-highlight-1 ms-2 manuka">clients say</span>
                </div>
            </div>

            <!-- test 2 -->

           <div class="information-container">
            <!-- Information C1 -->
           <div class="accordion-container">
               <!-- <div class="d-flex flex-row align-items-center justify-content-between">
                   <span class="btn-question" (click)="isCollapsed1 = !isCollapsed1"></span>
                   <span
                       *ngIf="isCollapsed1"
                       class="toggle"
                       (click)="isCollapsed1 = !isCollapsed1"
                       [attr.aria-expanded]="!isCollapsed1"
                       aria-controls="collapseExample" >  Read Review
                   </span>
                   <span
                   *ngIf="!isCollapsed1"
                   class="toggle"
                   (click)="isCollapsed1 = !isCollapsed1"
                   [attr.aria-expanded]="!isCollapsed1"
                   aria-controls="collapseExample" >Collapse
               </span>
               </div> -->
               <div #collapse="ngbCollapse" class="card-parent" [(ngbCollapse)]="isCollapsed1">
                   <div class="card">
                       <div class="card-body d-flex flex-column">
                        <div class="row">
                            <div class="col-12">
                                <div class="testimonial-card">
                                    <div class="wrapper">
                                        <div class="d-flex flex-column align-items-center">
                                            <div class="img-wrapper">
                                                <img src="../../assets/testimonial images/R.jpg" class="img img-fluid doc-img" alt="">
                                            </div>
                                            <div class="doc-info mt-4">
                                                <div class="d-flex flex-column align-items-center">
                                                    <p class="doctor-name">Dr. Rajesh Sainani, Medical Gastroenterologist, Jaslok Hospital</p>
                                                    <p class="description text-center mt-3">Trace software (Readystock manometry machine) is easy to use and the biggest advantage of the HRM colours are easy to interpret while the test is ongoing. <strong> The machine is sturdy, low maintenance and low cost to run on a daily basis. </strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
                   </div>
               </div>
           </div>
           </div>

            <div class="information-container">
                <!-- Information C1 -->
               <div class="accordion-container">
                   <!-- <div class="d-flex flex-row align-items-center justify-content-between">
                       <span class="btn-question" (click)="isCollapsed1 = !isCollapsed1"></span>
                       <span
                           *ngIf="isCollapsed1"
                           class="toggle"
                           (click)="isCollapsed1 = !isCollapsed1"
                           [attr.aria-expanded]="!isCollapsed1"
                           aria-controls="collapseExample" >  Read Review
                       </span>
                       <span
                       *ngIf="!isCollapsed1"
                       class="toggle"
                       (click)="isCollapsed1 = !isCollapsed1"
                       [attr.aria-expanded]="!isCollapsed1"
                       aria-controls="collapseExample" >Collapse
                   </span>
                   </div> -->
                   <div #collapse="ngbCollapse" class="card-parent" [(ngbCollapse)]="isCollapsed1">
                       <div class="card">
                           <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-12">
                                    <div class="testimonial-card">
                                        <div class="wrapper">
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="img-wrapper">
                                                    <img src="../../assets/testimonial images/zubin.png" class="img img-fluid doc-img" alt="">
                                                </div>
                                                <div class="doc-info mt-4">
                                                    <div class="d-flex flex-column align-items-center">
                                                        <p class="doctor-name">Dr. Zubin Dev Sharma Medical Gastroenterologist, Medanta Gurugaon </p>
                                                        <p class="description text-center mt-3">Ready Stock’s Manometry software is easy to use and very intuitive. <strong> The catheters are easy to introduce and do not cause patient discomfort.</strong> Ready Stock provides good service and I would recommend it to any doctor who is interested in Neurogastroenterology.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           

           <!-- test 3 -->

           <div class="information-container">
            <!-- Information C1 -->
           <div class="accordion-container">
               <!-- <div class="d-flex flex-row align-items-center justify-content-between">
                   <span class="btn-question" (click)="isCollapsed1 = !isCollapsed1"></span>
                   <span
                       *ngIf="isCollapsed1"
                       class="toggle"
                       (click)="isCollapsed1 = !isCollapsed1"
                       [attr.aria-expanded]="!isCollapsed1"
                       aria-controls="collapseExample" >  Read Review
                   </span>
                   <span
                   *ngIf="!isCollapsed1"
                   class="toggle"
                   (click)="isCollapsed1 = !isCollapsed1"
                   [attr.aria-expanded]="!isCollapsed1"
                   aria-controls="collapseExample" >Collapse
               </span>
               </div> -->
               <div #collapse="ngbCollapse" class="card-parent" [(ngbCollapse)]="isCollapsed1">
                   <div class="card">
                       <div class="card-body d-flex flex-column">
                        <div class="row">
                            <div class="col-12">
                                <div class="testimonial-card">
                                    <div class="wrapper">
                                        <div class="d-flex flex-column align-items-center">
                                            <div class="img-wrapper">
                                                <img src="../../assets/testimonial images/vijay.jpeg" class="img img-fluid doc-img" alt="">
                                            </div>
                                            <div class="doc-info mt-4">
                                                <div class="d-flex flex-column align-items-center">
                                                    <p class="doctor-name">Dr. Vijay Borogaonkar Chairman, Krupamayi Hospitals, Aurangabad</p>
                                                    <p class="description text-center mt-3">I am using the High Resolution Manometry system and pH impedance system from the past 15 years, and <strong> I am very happy with the performance of the system.</strong> Mr. Narayanan provides timely updates for a subject that is under constant improvisation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
                   </div>
               </div>
           </div>
           </div>

           <!-- test 4 -->

           <div class="information-container">
            <!-- Information C1 -->
           <div class="accordion-container">
               <!-- <div class="d-flex flex-row align-items-center justify-content-between">
                   <span class="btn-question" (click)="isCollapsed1 = !isCollapsed1"></span>
                   <span
                       *ngIf="isCollapsed1"
                       class="toggle"
                       (click)="isCollapsed1 = !isCollapsed1"
                       [attr.aria-expanded]="!isCollapsed1"
                       aria-controls="collapseExample" >  Read Review
                   </span>
                   <span
                   *ngIf="!isCollapsed1"
                   class="toggle"
                   (click)="isCollapsed1 = !isCollapsed1"
                   [attr.aria-expanded]="!isCollapsed1"
                   aria-controls="collapseExample" >Collapse
               </span>
               </div> -->
               <div #collapse="ngbCollapse" class="card-parent" [(ngbCollapse)]="isCollapsed1">
                   <div class="card">
                       <div class="card-body d-flex flex-column">
                        <div class="row">
                            <div class="col-12">
                                <div class="testimonial-card">
                                    <div class="wrapper">
                                        <div class="d-flex flex-column align-items-center">
                                            <div class="img-wrapper">
                                                <img src="../../assets/testimonial images/banerjee.png" class="img img-fluid doc-img" alt="">
                                            </div>
                                            <div class="doc-info mt-4">
                                                <div class="d-flex flex-column align-items-center">
                                                    <p class="doctor-name">Dr. Arko Banerjee Medical Gastroenterologist, SSKM hospital, Kolkata</p>
                                                    <p class="description text-center mt-3">I am using Esophageal and Anorectal manometry apparatus , along with pH impedance and biofeedback marketed by the Readystock for last 8 years. I do cater the service to large number of patients. <strong> I am absolutely satisfied with the quality as well as the service when required.</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>

       <!-- test 5 -->

       <div class="information-container">
        <!-- Information C1 -->
       <div class="accordion-container">
           <!-- <div class="d-flex flex-row align-items-center justify-content-between">
               <span class="btn-question" (click)="isCollapsed1 = !isCollapsed1"></span>
               <span
                   *ngIf="isCollapsed1"
                   class="toggle"
                   (click)="isCollapsed1 = !isCollapsed1"
                   [attr.aria-expanded]="!isCollapsed1"
                   aria-controls="collapseExample" >  Read Review
               </span>
               <span
               *ngIf="!isCollapsed1"
               class="toggle"
               (click)="isCollapsed1 = !isCollapsed1"
               [attr.aria-expanded]="!isCollapsed1"
               aria-controls="collapseExample" >Collapse
           </span>
           </div> -->
           <div #collapse="ngbCollapse" class="card-parent" [(ngbCollapse)]="isCollapsed1">
               <div class="card">
                   <div class="card-body d-flex flex-column">
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-card">
                                <div class="wrapper">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="img-wrapper">
                                            <img src="../../assets/testimonial images/upasani.jpeg" class="img img-fluid doc-img" alt="">
                                        </div>
                                        <div class="doc-info mt-4">
                                            <div class="d-flex flex-column align-items-center">
                                                <p class="doctor-name">Dr. Abhay Upasani Surgeon, Chairmain, Shreeram Nursing Homes</p>
                                                <p class="description text-center mt-3">Whatever name and "so called " fame I have got in the field of esophageal and anorectal manometry and pH Impedence studies, is only because of Ready Stock! <strong>They provided me with the best manometry equipment. Timely updating without asking. Best post sales service.</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- test 6 -->
   <div class="information-container">
    <!-- Information C1 -->
   <div class="accordion-container">
       <!-- <div class="d-flex flex-row align-items-center justify-content-between">
           <span class="btn-question" (click)="isCollapsed1 = !isCollapsed1"></span>
           <span
               *ngIf="isCollapsed1"
               class="toggle"
               (click)="isCollapsed1 = !isCollapsed1"
               [attr.aria-expanded]="!isCollapsed1"
               aria-controls="collapseExample" >  Read Review
           </span>
           <span
           *ngIf="!isCollapsed1"
           class="toggle"
           (click)="isCollapsed1 = !isCollapsed1"
           [attr.aria-expanded]="!isCollapsed1"
           aria-controls="collapseExample" >Collapse
       </span>
       </div> -->
       <div #collapse="ngbCollapse" class="card-parent" [(ngbCollapse)]="isCollapsed1">
           <div class="card">
               <div class="card-body d-flex flex-column">
                <div class="row">
                    <div class="col-12">
                        <div class="testimonial-card">
                            <div class="wrapper">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="img-wrapper">
                                        <img src="../../assets/testimonial images/arulprakash.jpeg" class="img img-fluid doc-img" alt="">
                                    </div>
                                    <div class="doc-info mt-4">
                                        <div class="d-flex flex-column align-items-center">
                                            <p class="doctor-name">Dr. Arul Prakash Medical Gastroenterologist, MGM Hospital, Chennai</p>
                                            <p class="description text-center mt-3">Their dedication to providing top-quality High Resolution Manometry devices is unmatched. Not only do they offer a wide range of products, but their customer service is impeccable. From swift responses to technical support, Ready Stock ensures a seamless experience from inquiry to delivery. <strong> I highly recommend Ready Stock to anyone in need of reliable high-resolution manometry solutions.</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
           </div>
       </div>
   </div>
    </div>
    <!-- test 7 -->
    <div class="information-container">
        <!-- Information C1 -->
       <div class="accordion-container">
           <!-- <div class="d-flex flex-row align-items-center justify-content-between">
               <span class="btn-question" (click)="isCollapsed1 = !isCollapsed1"></span>
               <span
                   *ngIf="isCollapsed1"
                   class="toggle"
                   (click)="isCollapsed1 = !isCollapsed1"
                   [attr.aria-expanded]="!isCollapsed1"
                   aria-controls="collapseExample" >  Read Review
               </span>
               <span
               *ngIf="!isCollapsed1"
               class="toggle"
               (click)="isCollapsed1 = !isCollapsed1"
               [attr.aria-expanded]="!isCollapsed1"
               aria-controls="collapseExample" >Collapse
           </span>
           </div> -->
           <div #collapse="ngbCollapse" class="card-parent" [(ngbCollapse)]="isCollapsed1">
               <div class="card">
                   <div class="card-body d-flex flex-column">
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-card">
                                <div class="wrapper">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="img-wrapper">
                                            <img src="https://imagesx.practo.com/providers/dr-nitesh-pratap-hepatologist-hyderabad-631b711a-d4bd-4283-b4b1-c4b6ea4d28ae.jpg?i_type=t_100x100-4x" class="img img-fluid doc-img" alt="">
                                        </div>
                                        <div class="doc-info mt-4">
                                            <div class="d-flex flex-column align-items-center">
                                                <p class="doctor-name">Dr. Nitesh Pratap, KIMS hospital, Hyderabad</p>
                                                <p class="description text-center mt-3">I have been using high-resolution manometry and pH impedance systems for over 15 years, I can confidently say that Ready Stock's equipment stands out for its exceptional quality and reliability. Their systems have consistently delivered accurate results, enabling me to conduct thorough evaluations . Over the years, I rely  on Ready Stock not only for their top-notch equipment but also for their outstanding customer support. Their team is always there to address any questions or concerns, ensuring a smooth and seamless experience every time. If you're looking for a trusted provider of gastrointestinal diagnostic equipment, then you can definitely rely on Ready Stock.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
               </div>
           </div>
       </div>
        </div>


        </div>
    </div>

    <div class="row mt-5">
        <app-client-hospitals></app-client-hospitals>
      </div>
      <div class="row mt-5">
        <app-whatwedo></app-whatwedo>
      </div>

    <app-footer></app-footer>
</div>
