<div class="container-fluid">
    <div class="what_we_do_container">
        <div class="row">
            <div class="col-12">
                <span class="text-1 manuka">Visit us</span> <span class="text-highlight-1 ms-2 manuka">now</span>
            </div>
        </div>
        <div class="row mt-4 address_row mobile_vanish">
            <div class="col-12 d-flex flex-row">
                <div class="container1 d-flex flex-row align-items-center">
                    <span class="name-wrap">
                        <span class="name_of_machine">Delhi</span> 
                        <span class="name_of_address">READY STOCK (Head Office) <br> 13/35, First Floor, Subhash Nagar, New Delhi - 110027</span> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-center">
                    <span class="name-wrap">
                        <span class="name_of_machine">SOUTH</span> 
                        <span class="name_of_address">READY STOCK (Branch office) <br> Ynms Complex, Kovaipudhur Pirivu,
                            Coimbatore - 641008</span> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-center">
                    <span class="name-wrap">
                        <span class="name_of_machine">WEST</span> 
                        <span class="name_of_address">READY STOCK (Branch office) <br> Plot No 5 & 6, Main Road Ulkanagri Garkheda,
                            Area Aurangabad - 431005</span> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-center">
                    <span class="name-wrap">
                        <span class="name_of_machine">HYDERABAD</span> 
                        <span class="name_of_address">Patpro Health Connect <br> C802, Sattva Magnus, Bombay Highway Road, Shaikpet,
                            Hyderabad - 500008</span> 
                    </span>
                </div>
            </div>
        </div>

        <div class="row mt-4 web_vanish_mobile">
            <div class="col-12 d-flex flex-column">
                <div class="container1 d-flex flex-row align-items-start mb-3">
                    <span class="name-wrap">
                        <span class="name_of_machine">Delhi</span> 
                        <span class="name_of_address">READY STOCK (Head Office) <br> 13/35, First Floor, Subhash Nagar, New Delhi - 110027</span> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-start mb-3">
                    <span class="name-wrap">
                        <span class="name_of_machine">SOUTH</span> 
                        <span class="name_of_address">READY STOCK (Branch office) <br> Ynms Complex, Kovaipudhur Pirivu,
                            Coimbatore - 641008</span> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-start mb-3">
                    <span class="name-wrap">
                        <span class="name_of_machine">WEST</span> 
                        <span class="name_of_address">READY STOCK (Branch office) <br> Plot No 5 & 6, Main Road Ulkanagri Garkheda,
                            Area Aurangabad - 431005</span> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-start">
                    <span class="name-wrap">
                        <span class="name_of_machine">HYDERABAD</span> 
                        <span class="name_of_address">Patpro Health Connect <br> C802, Sattva Magnus, Bombay Highway Road, Shaikpet,
                            Hyderabad - 500008</span> 
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>