<div class="container-fluid">
    <div class="what_we_do_container">
        <div class="row">
            <div class="col-12">
                <span class="text-1 manuka">Our</span> <span class="text-highlight-1 ms-2 manuka">clients</span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 grid-wrapper">
                
                    <img src="../../assets/hospital-img/Apollo.jpeg" class="img-fluid circle-img" alt="">
                
                    <img src="../../assets/hospital-img/Aster.jpeg" class="img-fluid circle-img" alt="">
                
                    <img src="../../assets/hospital-img/fortis.jpeg" class="img-fluid circle-img" alt="">
                
                
                    <img src="../../assets/hospital-img/kauvery.jpeg" class="img-fluid circle-img" alt="">
                
                
                    <img src="../../assets/hospital-img/Regency.jpeg" class="img-fluid circle-img" alt="">
                
                    <img src="../../assets/hospital-img/manipal.jpeg" class="img-fluid circle-img" alt="">
                
            </div>
        </div>

    </div>
</div>