<div class="container-fluid">
    <div class="nav-container">
        <app-navbar></app-navbar>
    </div>

    <div class="content-body">
        <div class="row web_vanish">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="col-7">
                    <span>
                        <p class="hero-text manuka">Pioneering GI motility Solutions, <br> Ready when you are</p>
                    </span>
                    <span>
                        <p class="sub-text reckless">To become a leading provider of innovative, reliable and user-friendly GI motility equipment for healthcare professionals worldwide.</p>
                    </span>
                        <button class="btn btn-know px-4 py-2"><span><img src="../../assets/Images/whatsapp.svg" class="img-fluid me-2 whatsapp" alt=""></span> <span class="reckless">Reach us</span></button>
                </div>
                
                <div class="col-5 d-flex justify-content-center">
                    <img src="../../assets/Images/Home_Machine.png" class="img-fluid img hero-img" alt="">
                </div>
            </div>
        </div>

        <div class="row show_only_mobile">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="row">
                    <img src="../../assets/Images/Home_Machine.png" class="img-fluid img hero-img" alt="">
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                    <span>
                        <p class="hero-text manuka">Pioneering GI motility Solutions, Ready when you are</p>
                    </span>
                    <span>
                        <p class="sub-text_mobile reckless">To become a leading provider of innovative, reliable and user-friendly GI motility equipment for healthcare professionals worldwide.</p>
                    </span>
                        <button class="btn btn-know px-4 py-2"><span><img src="../../assets/Images/whatsapp.svg" class="img-fluid me-2 whatsapp" alt=""></span> <span class="reckless">Reach us</span></button>
                </div>
                </div>
                
            </div>
        </div>
    </div>

    <marquee id="scroller" class="row scroll-container">
        <span><img src="../../assets/Images/star.svg" class="img-fluid me-2" alt=""></span>
        <span
          onmouseover="document.getElementById('scroller').stop()"
          onmouseout="document.getElementById('scroller').start()"
          class="scroll-text reckless"
          >We have a training center at Delhi, Mumbai, Coimbatore, Chennai, Kolkata, Hyderabad, Aurangabad, Pune, Bengaluru, Kochi</span>
          <span><img src="../../assets/Images/star.svg" class="img-fluid ms-2" alt=""></span>
      </marquee>
    
      <div class="row mt-5">
        <app-whatwedo></app-whatwedo>
      </div>

    <div class="benchmarks_container mt-5 web_vanish">
        <div class="row">
            <div class="col-12">
                <span class="text-1 manuka">Our</span> <span class="text-highlight-1 ms-2 manuka">benchmarks</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 d-flex flex-row justify-content-between">
                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/pacemaker.svg" class="img-fluid icon1" alt="">

                        <span class="count">300+</span>
                        <span class="count_sub">HOSPITALS</span>
                    </div>
                </div>

                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/diversity_4.svg" class="img-fluid icon1" alt="">

                        <span class="count">1300+</span>
                        <span class="count_sub">CLIENTS</span>
                    </div>
                </div>

                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/blood_pressure.svg" class="img-fluid icon1" alt="">

                        <span class="count">400+</span>
                        <span class="count_sub">INSTALLATIONS</span>
                    </div>
                </div>

                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/credit_card_heart.svg" class="img-fluid icon1" alt="">

                        <span class="count">99%</span>
                        <span class="count_sub">SERVICE UPTIME</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="benchmarks_container_mobile web_vanish_mobile">
        <div class="row">
            <div class="col-12">
                <span class="text-1 manuka">Our</span> <span class="text-highlight-1 ms-2 manuka">benchmarks</span>
            </div>
        </div>
        <div class="row mt-5">
            <div class="row">
                <div class="col-12 d-flex flex-row justify-content-between">
                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/pacemaker.svg" class="img-fluid icon1" alt="">

                        <span class="count">300+</span>
                        <span class="count_sub">HOSPITALS</span>
                    </div>
                </div>

                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/diversity_4.svg" class="img-fluid icon1" alt="">

                        <span class="count">1300+</span>
                        <span class="count_sub">CLIENTS</span>
                    </div>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-12 d-flex flex-row justify-content-between">
                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/pacemaker.svg" class="img-fluid icon1" alt="">

                        <span class="count">400+</span>
                        <span class="count_sub">INSTALLATIONS</span>
                    </div>
                </div>

                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/diversity_4.svg" class="img-fluid icon1" alt="">

                        <span class="count">99%</span>
                        <span class="count_sub d-flex flex-column">

                            <span class="mb-1">SERVICE</span>
                            <Span>UPTIME</Span>
                        </span>
                    </div>
                </div>
            </div>
            </div>
           
        </div>
    </div>

    <app-footer></app-footer>
</div>
